@import url("https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css");

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 50px;
    font-size: 100%;
    line-height: 1.5
}

.section {
	margin: 2rem 0 2rem 0;
}

.container {
	margin: 0 auto 0 auto;
	max-width: 60rem;
}

h1, h2, h3, h4 {
    margin: 1em 0 .5em;
    line-height: 1.25
}
h1 {
    font-size: 2em
}
h2 {
    font-size: 1.5em
}
h3 {
    font-size: 1.2em
}
ul, ol {
    margin: 1em 0;
    padding-left: 40px
}
p, figure {
    margin: 1em 0
}

a img {
    border: none
}
sup, sub {
    line-height: 0
}

input {
    font-family: Hack, monospace;
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

label{
    font-family: Hack, monospace;
    font-size: 12px;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.checkbox{
    width: 25px;
}

.login-form {
    text-align: center;
    margin-top: 80px;
}

.control-group {
    font-family: Hack, monospace;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
}

.btn {
    font-size: 12px;
    display: inline-block;
    padding: 12px 24px;
    background: #D1EFF5;
    font-weight: bold;
    color: #787878;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
}

.btn:hover{
    background: #3498DB;
    color: #ffffff;
}

.user-info {
    margin: 0;
    padding: 0;
}
.user-info li {
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 0;
}

.logo-header{
    display: block;
    text-align: center;
}

#menu{
    margin: 25px;
    background: #f9f9f9;
    padding: 16px;
}

#menu li{
    display: inline;
}

#menu li a{
    font-family: Hack, monospace;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}

#menu li a:hover{
    background-color: #cbecfc;
    color: white;
}


/**** SALES  ****/

.container h1 {
    font-family: Hack, monospace;
    color: #2175bc;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0 1rem;
    padding: 1rem 0 0 0;
}

.post_box {
    padding: 0 1rem 1rem 1rem;
}

.name-header {
    font-family: Hack, monospace;
    background-color: #e5e5e5;
    padding: 5px;
}

.post_box-subtitle, .post_box-body p {
    font-family: Hack, monospace;
    font-weight: 400;
    padding: 0 5px;
}

#total {
    font-weight: 700;
}